<div class="container">
    <div class="section blue_bg">
        <p class="title">CRUD Github</p>
        <p class="descriptive_txt">Save and access popular Github repositiories easily and conveniently.</p>
    </div> 
    <div class="section section_with_img">
        <div class="text_side">
            <p class="title">What is it?</p>
            <p class="descriptive_txt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium illo inventore adipisci sed nesciunt optio et esse rerum id? Tenetur repellat, ipsa quidem velit iste saepe aperiam asperiores? Laboriosam inventore, placeat modi consequuntur dicta nemo, ipsam soluta possimus numquam at totam esse suscipit officiis deleniti culpa explicabo, impedit corporis. Eum!</p>
        </div>
        <div>
            <p></p>
        </div>
        <div class="img_side">
            <img src="../../../assets/github_logo.png" alt="Github repos logo">
        </div>
    </div> 
    <div class="sect_container section blue_bg">
        <p class="sect_title">Meet the Team</p>
        <div class="ppl_sect">
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/95223878?v=4" alt="Sharon's gh profile photo">
                <div class="members_info">
                    <p class="name_txt" (click)="openInGithub('sharonkorir')">Sharon</p>
                    <p>Worked with python to develop the backend of the application. </p>
                </div>
            </div>
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/93252545?v=4" alt="Ken's gh profile photo">
                <div class="members_info">
                    <p class="name_txt" (click)="openInGithub('kennjr')">Ken</p>
                    <p>Worked with figma and the angular framework to develop the front-end of the application.</p>
                </div>
            </div>
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/92405683?v=4" alt="Joy's gh profile photo">
                <div class="members_info">
                    <p class="name_txt" (click)="openInGithub('joymush')">Joy</p>
                    <p>Worked with python to develop the backend of the application. </p>
                </div>
            </div>
        </div>
    </div>
    <div class="sect_container">
        <p class="sect_title">Tools</p>
        <div class="lang_sect section flex container">
            <div class="lang_card">
                <h4>Angular</h4>
                <img src="src/assets/github_logo.png" alt="Angular">
            </div>
            <div class="lang_card">
                <h4>Flask</h4>
                <img src="/src/assets/github_logo.png" alt="Flask">
            </div>
            <div class="lang_card">
                <h4>Postgres</h4>
                <img src="/src/assets/github_logo.png" alt="Postgres">
            </div>
            <div class="lang_card">
                <h4>Postman</h4>
                <img src="/src/assets/github_logo.png" alt="Postman">
            </div>
        </div>
    </div>
    <div class="footer section blue_bg">

    </div>
</div>

