<div class="container">
    <div class="user_info_section">
        <div class="crud_app_info card">
            <img src="https://avatars.githubusercontent.com/u/93252545?v=4">
            <p>Username</p>
            <p>user1@users.com</p>
            <p (click)="openInGithub()">{{current_user_data.login}}</p>
        </div>
        
        <div class="gh_info card">
            <div class="title">
                <p>My Github</p>
                <div class="divider"></div>
            </div>
            <p>Followers : {{current_user_data.followers}}</p>
            <p>Following : {{current_user_data.following}}</p>
            <p>Repositories : {{current_user_data.public_repos}}</p>

        </div>
    </div>
    <div class="fav_grid_section ">
        <div class="card grid">
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
            <p>name of repo</p>
        </div>
    </div>
</div>