{% extends 'base.html'%} 

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}

<!--block content here-->


<div class="container">
  {% if current_user.is_authenticated %}
  
  <h1>Home Page Demo</h1>
  <h4>Welcome {{user.username}}</h4>
  <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
  <div class="container">
    <form>
        <input type="text" name="repo_query" placeholder="Search for a repo" class="form-control">
        <input type="submit"  value="Search" class="btn btn-default">
    </form>
  
  </div>
  <h3>public repos</h3>
  {% for repo in repos %}
  
  
          <p><a href="{{repo.html_url}}">{{repo.name}}</a></p>
          <p>{{repo.description}}</p>
    
          
  {%endfor%}
  {% else %}
  <h3>Get started page demo</h3>
  <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
  {%endif%}
</div>



<p></p>


{% endblock%}
